  <div class="row">
    <div class="col-xs-3"></div>
    <div class="col-xs-6">
      <h2 class="text-center"> Edit your profile</h2>
      <br/>
      <%= render "form", user: @user, submit_text: "Update your profile", form_class: '' %>
    </div>
    <div class="col-xs-3"></div>
  </div>

