<div class='col-xs-6'>
   <br>
  <br>
  <div class="panel panel-default">
    <div class="panel-body">
        <h1 class = 'lead text-center'>Speak Easy is the plaform for organizing and managing conference speaking engagements </h1>
    </div>
    <br>
    <br>
    <br>

    <div class="panel-footer">&copy <%= Time.now.year %></div>
  </div>

</div>

<div class='col-xs-6' >
  <h1 class="signup-banner"> New to Speak Easy? </h1>
  
  <button class="btn btn-lg btn-block btn-social btn-primary signup-button">
    <span class="fa fa-user-circle-o"></span>  Sign up with Username & Password
  </button>

  <%= render "form", user: @user, submit_text: "Create your Account", form_class: 'signup-form' %>
  
  <a href="/auth/github" class="btn btn-lg btn-block btn-social btn-github">
    <span class="fa fa-github"></span>  Sign in with Github
  </a>

</div>

