// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#showcontainer{

  position: relative;
  top: 60px;
}

.signup-form {
	display: none;
}

button.signup-button {
	margin-top: 10px;
	margin-bottom: 30px;
}

.signup-banner{
	margin-top: 35px;
	margin-bottom: 20px;
	text-align: center;
}

